---
import CTAButton from "./CTAButton.astro";
import Testimonials from "../functional-components/Testimonials";

import herocopy from "../../content/herocopy.json";

import HeroPlantDisplay from "../functional-components/HeroPlantDisplay";
import Video from "./Video.astro";

const { isTopElement, copy, testimonials, ctaHref } = Astro.props;
const options = copy;
const selectedOption = 1;
const selectedContent = options[selectedOption];
---

<div data-vid-background-container class="h-full max-w-screen -z-10 bottomfade">
    {/* Using a video html element for background for now.
         TODO: Looking into smaller sizes for smaller screens for performance */}
    

    <div class="relative w-screen h-full max-w-screen lg:px-[12rem] overflow-y-visible objec">

        <Video
                class="absolute top-0 left-0 w-screen h-full object-cover -z-20 invert-dark"
                src="/pure-plant-new/videos/landing.mp4"
        />
        
        
        {/* Heres a brief experiment I tried with displaying 3d assets, 
        (From implementation bible: Premium glass packaging (amber glass for PurePlantD3®, flint glass for Serophan® and Neurozine®) with elegant lighting). 
        Works, but will depend on quality assets to look good*/}

        {/*       
        <div class="absolute flex flex-row items-center justify-center w-fit h-fit p-8 text-center text-white">

          <Model3D
            src="/models/bottleexample.glb"
            alt="alt text"
            size={{ width: "400px", height: "600px" }}
          />
          <Model3D
            src="/models/bottleexample.glb"
            alt="alt text"
            size={{ width: "400px", height: "600px" }}
          />
          <Model3D
            src="/models/bottleexample.glb"
            alt="alt text"
            size={{ width: "400px", height: "600px" }}
          />
        </div> */}
        {isTopElement && (<div class="h-[12rem] lg:h-[8rem]"></div>)}
        <div class="flex w-full h-full flex-col lg:items-center z-50">
            <div class="flex w-full flex-col lg:flex-row justify-center">
                <div class="absolute inset-0
                        backdrop-blur-xs
                        bg-white/30
                        dark:bg-black/50
                          backdrop-brightness-100
                          pointer-events-none
                          z-0
                          mask-y-from-80% mask-y-to-100%
                          mask-x-from-80% mask-x-to-100%
                           
                          ">
                </div>
                <HeroPlantDisplay client:only="react"/>
                {/* Half 1*/}
                <div class="flex w-full justify-start lg:justify-start lg:min-h-[50vh]">
                    
                    <div class="relative flex flex-col justify-around lg:items-center  h-full text-white">
                        {/*        <div class="absolute inset-0*/}
                        {/*backdrop-blur-xs*/}
                        {/*bg-white/30*/}
                        {/*  backdrop-brightness-100*/}
                        {/*  pointer-events-none*/}
                        {/*  z-0*/}
                        {/*  mask-y-from-80% mask-y-to-100%*/}
                        {/*  mask-x-from-80% mask-x-to-100%*/}
                        {/*  ">*/}
                        {/*        </div>*/}

                        <div class="z-[0] flex flex-col justify-start px-4 animate-fi">
                            <div class="flex object-contain w-full">
                                <h1
                                        class="z-50 !text-5xl xl:!text-7xl lg:min-h-fit md:!text-5xl font-bold animate-float h-fit w-full py-[3rem]">
                                    {selectedContent.hook}
                                </h1>
                            </div>

                            <h2 class=" z-50 text-3xl font-semibold">
                                {selectedContent.headline}
                            </h2>
                            <h2 class="z-50 text-2xl !font-extralight leading-tight ">
                                {selectedContent.subheadline}
                            </h2>
                            <h2 class="text-3xl font-semibold">
                                {selectedContent.credibility}
                            </h2>

                        </div>


                    </div>
                </div>

                {/* End of Half 1 */}
                {/* Half 2 */}
                <div class="flex w-full  min-w-[6rem] lg:block overflow-visible z-10 transition-all duration-200 pointer-events-none">
                    
                </div>

                {/* End of half 2 */}
            </div>


            <div class="flex flex-col lg:flex-row justify-between max-w-screen lg:py-20  w-full">
                <CTAButton label={selectedContent.cta} href={ctaHref}/>
                <Testimonials client:load testimonials={testimonials}/>
            </div>


        </div>

    </div>

</div>