---

import FPProduct from "./FPProduct.astro";

const { productsCopy, productPaths } = Astro.props;
const neurozine = productsCopy.neurozine;

const serophan = productsCopy.serophan;

const pureplantd3 = productsCopy.pureplantd3;

---


<div class="w-full flex flex-col lg:flex-row items-center justify-evenly lg:px-[4rem]">
    <FPProduct benefits={neurozine.benefits} name="Neurozine" href={productPaths.neurozine}/>
    <FPProduct benefits={pureplantd3.benefits} name="PurePlantD3" href={productPaths.pureplantd3}/>
    <FPProduct benefits={serophan.benefits} name="Serophan" href={productPaths.serophan}/>
</div>